h2 {
  text-align: center;
  margin: 30px;
}

.form-action {
  text-align: center;
}

.form-actions {
  text-align: center;
}

.container-form-login {
  margin: 50px 0px;
  padding-bottom: 50px;
  background-color: white;
  padding: 20px;
}

.form-inputs {
  color: #474747;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

a {
  text-decoration: none;
  color: #3397E3;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  color: #308ed1;
  opacity: 1;
}
