.body-devise{
  background-color: #212121;
}

h2 {
  text-align: center;
  margin: 30px;
}

.form-actions {
  text-align: center;
}

.container-form-login {
  margin-left: 15%;
}

.link-edit{
  color: black;
  opacity: 0.5;
}

.link-edit:hover {
  color: black;
  opacity: 1;
}

a {
  text-decoration: none;
  color: #3397E3;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  color: #308ed1;
  opacity: 1;
}

.form-checkbox{
  display: inline-flex;
  p {
    padding-right: 10px;
  }
  label {
    padding: 7px;
  }
}

.end-section {
  margin-top: 60px;
}


.image-edit {
  width:240px;
  height:240px;
  object-fit: cover;
  margin-left: 25%;
  padding-bottom: 25px;
}

.form-style-10{
    width: 600px;
    padding:30px;
    margin-left: 10px;
    margin:40px auto;
    background: $grey-card;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 30px;
    background: #353535;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style-10 h1{
    background: $purple;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid $purple;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
}
.form-style-10 label{
    display: block;
    color: #888;
    padding-top: 7px;
    margin-bottom: 15px;
}

.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
    margin-bottom: 5px;
}
.form-style-10 .section span {
    background: #963689;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #353535;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    margin-top: 10px;
    text-align: right;
}
