<% markers = bar.build_markers %>

<% dom_map_id = "map#{map_id}" %>


<div id="<%= dom_map_id %>" style="width: 95%; height: 30vh; margin-top: 12px; margin-bottom: 20px;"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    // drawMap(selectorDom, markerJson)
    $(function() {
      drawMap("<%= dom_map_id %>", <%= raw markers.to_json %>);
    });
  <% end %>
<% end %>


