.ui.segment {
  height: calc(100vh - 200px);
  padding: 10px 30px;
  border-radius: 10px 10px 0 0;
  background-color: #3d3d3d;
}

.message-btns {
  display: flex;
  align-items: center;
  a {
    color: $white-font;
  }
  p {
    margin: auto 10px;
  }
}

textarea.message-area {
  background-color : #e2e2e2;
  border: grey;
}
