<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ldeld/"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/lenarw"><i class="fa fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/lewagonlyon/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/kuewl_"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fa fa-heart"></i> by the Hot Rails
  </div>
</div>
