<%= render 'shared/banner' %>
<div class="body body-home">
<div class="container container-home">

  <h2 class="title">A person’s taste in music says a lot about them</h2>


  <figure class="snip1477">
    <img src="https://static.pexels.com/photos/373945/pexels-photo-373945.jpeg" alt="sample38" />
    <div class="title">
      <div>
        <h4>Find someone like you</h4>
      </div>
    </div>
    <figcaption>
      <p>We know music is important to you. Lovify helps you find people who like to listen to the same artists and tracks as you.</p>
    </figcaption>
  </figure>
  <figure class="snip1477">
    <img src="https://images.pexels.com/photos/340103/pexels-photo-340103.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="sample91" />
    <div class="title">
      <div>
        <h4>In one click</h4>
      </div>
    </div>
    <figcaption>
      <p>Just sign up with Spotify and we'll do the rest. We use your Spotify listens to find your perfect music match.</p>
    </figcaption>
  </figure>
  <figure class="snip1477">
    <img src="https://images.unsplash.com/photo-1490111718993-d98654ce6cf7?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="sample35" />
    <div class="title">
      <div>
        <h4>& Ask them out</h4>
      </div>
    </div>
    <figcaption>
      <p>Don't be shy! Ask your match out. We will suggest a selection of bars according to what you both listen to. Plus, breaking the ice is easy when you have music to talk about.</p>
    </figcaption>
  </figure>
</div>
</div>

<div class="footer footer-home">
  <div class="footer-links">
    <a href="https://www.spotify.com/"><i class="fa fa-spotify" aria-hidden="true"></i></a>
    <a href="https://github.com/ldeld/lovify"><i class="fa fa-github"></i></a>
    <a href="https://fr-fr.facebook.com/lewagonlyon/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonlyon"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Le Wagon project made with <i class="fa fa-heart"></i> by the Hot Rails
  </div>
</div>

