<style>
    @import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CQuicksand:300,400,500,700&subset=latin-ext');
    .container-banner h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: lighter;
    opacity: 0.9;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
    .content-banner {
      font-family: "Quicksand", sans-serif;;
    }

    .container-banner {
      background-color: #212121;
      color: white;
      text-align: center;
      height: 100vh;
      /* if you have a 70px navbar => height: calc(100vh - 70px); */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      margin-top: -50px;
    }

    a{
      font-size: 20px;
      color: #99378c;
      text-decoration:none;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    }

    a:hover{
      color:#999;
    }

    .no-matches{
      height:70px;
      padding-bottom: 10px;
    }

    body {
    display: block;
    margin: 0px;
    }
  </style>

<div class="main">
  <body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="container container-banner">
    <div class="content-banner">
      <img src="https://img15.hostingpics.net/pics/427830lovifyspace.png" class="no-matches">
      <br/><h4 style="font-weight: lighter;">No profiles left <i class="fa fa-frown-o" aria-hidden="true"></i></h4>
      <h5 style="font-weight: lighter;">Come back in a while to see if we've found someone new for you!</h5>
      <br/><a href = "/">Back to home page</a>
    </div>
  </div>
</div>
