/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-left: 17%;
  margin-bottom: 0;
  text-align: center;
  color: rgba(153, 55, 140, 0.8);
  border: 0px;
}

.alert-home {
  margin-left: 0;
}

.alert-spotify {
  color:#188c49;
}

.alert-info {
  background: $grey-card;
}
.alert-warning {
  background: $grey-card;
  color: #bf1e1a;
}

.alert-dismissible .close{
 color:white;
 opacity:0.4;
}
