.container-banner h2 {
  font-size: 50px;
  font-weight: lighter;
  opacity: 0.9;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.container-banner h3 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}
.content-banner {
  z-index: 2;
}

.container-banner {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
    .slide {
        z-index: 1;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        transition: opacity 1.5s ease-in-out;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        opacity: 0;

        &.show {
            opacity: 1;
        }
    }
}






.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2.5s infinite 2.5s;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
