.footer-home {
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #6d6d6d;
  .fa-heart {
    color: $purple;
  };
}
.footer-links-home {
  display: flex;
  align-items: center;
  a {
    color: $light-gray;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      color: #757575;
      opacity: 1;

    };
  };
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  .fa-heart {
    color: $purple;
  };
}
.footer-links {
  display: flex;
  align-items: center;
  a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      color: black;
      opacity: 1;
    };
  };
}
