.linktbar{
  p{
  padding-top: 12px;
  font-size: 18px ! important;
  line-height:40px;
  color: #999;
    &:hover {
    color: $purple;
    opacity: 0.8;
  };
 };
}

span {
  border-radius:3em;
  margin-left:95%;
  background:#212121;
  color:#fff;
  font-size:1.25em;
  cursor:pointer;
}

.pop-up-text {
  width: 50%;
  height: 50%;
  position: relative;
  left: 45%;
  background-color: $grey-card;
}

.display-bar h3{
  font-size: 16px;
  text-align: center;
}

.display-bar p{
  font-size: 14px;
}

.info-bar{
  padding-left: 20px;
}
