.card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  height: 85vh;
}

#more-info .card {
  h4 { padding-top: 10px; }
}

.profile-picture {
  height: 50%;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.show-content {
  opacity: 1;
  max-height: 10000px;
  transition: all 0.5s;
}

.scrollable {
  overflow-y: scroll;
}
