
#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 46%;
  left: 50%;
  width: 80%;
  height: 94vh;
  /* note: the translateZ(0) enables hardware accel */
  /* without it, there is a weird gap between panels */
  transform: translate(-50%, -50%) translateZ(0);
  overflow: hidden;
  box-shadow:
    4vh 7vh 14vh -6vh rgba(0,0,0,0.35),
    -4vh 7vh 14vh -6vh rgba(0,0,0,0.35);
}

.date-card.btn-not{
  padding-bottom: 2%;
  color: red;
}

.bars {
  position: relative;
  flex-grow: 1;
  transition: all $animation-time ease;
  transition-delay: 0s;
  #name-bar, #address-bar, #description-bar{
    position: absolute;
    transition: all $animation-time ease;
    transition-delay: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.show-map {
  width: 50%;
  height: 25%;
  margin-left: Opx;
  margin-bottom: 20px;
  margin-top: 5px;
}

.bars:hover {
   background-color: $grey-back;
  flex-grow: 8;
  #description-bar {
    opacity: 1;
    transition-delay: $animation-time;
  }
}

/* when you click on a panel, the others are hidden */
.bars.hidden {
  flex-grow: 1;
  * {
    opacity: 0;
    pointer-events: none;
  }
}

/* when you click on a panel, it becomes active */
.bars.active {
  flex-grow: 1;
  transition-delay: 0s;
  #description-bar {
    transition-delay: 0s;
    height: 80vh;
    margin-top: 0;
    opacity: 1;
  }
  #name-bar {
    transition-delay: 0s;
    margin-top: 5vh;
    font-weight: 100;
  }
  #address-bar {
    font-size: 0;
  }
}

.bars a{
  margin-top: 5%;
}

@media (orientation: portrait) {
  #menu {
    border-radius: 0;
    width: 80%;
    height: 95vh;
  }
}

#description-bar {
  background-color: $grey-back;
    position: absolute;
    top: 40%;
    width: 100%;
    margin-top: -10vh;
    height: 25vh;
    padding-left: 2vh;
    fill: none;
    stroke-width: 2%;
    stroke-linejoin: round;
    stroke-linecap: round;
    opacity: 0;
    transition: all $animation-time ease;
    transition-delay: 0s;
    p {
      font-size: 13px;
      padding-top: 15px;
      padding-right: 6px;
      padding-left: 4px;
      padding-bottom: 2%;
    }
  }


#name-bar{
  padding-bottom: 2%;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 50%),url("https://www.lyonresto.com/contenu/bandeau/musique_live.jpg");
  h2 {
    margin-top: 4%;
  }
  img {
    opacity: 0.6;
    margin-top: 10%;
  }
}


#name-bar h3{
  font-size: 15px;
  margin-left: 5px;
}


.container-match-show {
  position: relative;
  overflow: hidden;
  height: 95vh;
  width: calc(100vw - 17%);
  background: $grey-back;
  display: flex;
  align-items: center;
  margin-left: 17%;
  margin-top: 2vh;
}
.flybox-wrap {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 2;
  padding: 60px;
  padding-top: 13px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
    .btn {
      /*transform: translateY(1200%);*/
      display: inline-block;
  }

}
.flybox-wrap#off {
  -webkit-transform:  translateX(100%);
  -ms-transform:  translateX(100%);
  -o-transform:  translateX(100%);
  transform:  translateX(100%);
}
.flybox-wrap#on {
  -webkit-transform:  translateX(0);
  -ms-transform:  translateX(0);
  -o-transform:  translateX(0);
  transform:  translateX(0);
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}


@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-45%, 0, 0);
  }
}


.slideOutLeft {
  animation-name: slideOutLeft;
}


#profile-card {
  position: absolute;
  top: 2%;
  left: 26%;
}

.card {
  width: 35vw;
  background-color: $grey-card;
  padding: 4px;
  border-radius: 5px;
  height: 95vh;
  text-align: center;
  box-shadow: 0 0 8px rgba(37, 37, 37, 0.4);
  p {
    margin-left: 20px;
    text-align: left;
  }
  h2 {
    font-size: 30px;
  }
}

.flybox-wrap .card {
  padding-top: 25px;
}


#show-more-info {
  margin-top: 15px;
}

.profile-picture {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(70,70,70,0.2);
}


.matchistics {
  padding: 0 40px;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.show-content {
  opacity: 1;
  max-height: 10000px;
  transition: all 0.5s;
}

.btn-not {
  font-size: 13px;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 10px;
    &:hover {
      color: white;
      background-color: black;
      opacity: 0.8;
    }
}


.btn-date {
  font-size: 13px;
  color: white;
  background-color: #a0067f;
  opacity: 0.6;
    &:hover {
      color: white;
      background-color: #a0067f;
      opacity: 1;
    }
}

.scrollable {
  overflow-y: scroll;
}
