@mixin boxSizing(){
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}


@mixin flexbox(){
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}


.container-profile{
  width: 1110px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 20%;
  padding-bottom: 3%;
  -moz-box-shadow: 0px 5px 28px rgba(0,0,0,.4);
  -webkit-box-shadow: 0px 5px 28px rgba(0,0,0,.4);
  box-shadow: 0px 5px 28px rgba(0,0,0,.4);
  border-radius:5px;
  background-color: $grey-card;
}



/*------------- content ----------------*/
.content{
  @include flexbox();
  margin-top: 2%;
  margin-bottom: 2%;
}

.aside-01{
  z-index:2;
  width:40%;
  text-align:center;
}


.profile .image{
  border-radius:50%;
  width: 140px;
  height: 140px;
  display:block;
  margin:-15% auto;
  position:relative;
  box-shadow: 0 0 8px rgba(70,70,70,0.5);
}

.profile .image:after{
  content:'';
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  top:100px;
  left:80px;
  border:1px solid #fff;
  background: #F7B733;
  border-radius:50%;
}

.aside-02{
  margin-top: -9px;
  padding-left: 50px;
  width: 75%;
    h3 {
    text-align: center;
  }
}

.profile h4{
  margin-top:80px;
  line-height:24px;
  font-size:1.2em;
  font-weight:800;
}


.about{
  display:block;
  width:80%;
  margin:0 auto;
}

.about article{
  font-size:14px;
  line-height:24px;
}


.body-profile {
  background-color: #212121;
  padding-top: 2%;
  padding-bottom: 2%
}


.edit-profile {
  margin-top: 50px;
}

.profile-header {
  text-align: center;
  padding: 8px;
  margin: 20px;
  background-color: $grey-back;
  box-shadow: 0 0 8px rgba(37, 37, 37, 0.4);
}


.profile-content{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
}


.header-image{

  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),url("https://images.pexels.com/photos/290657/pexels-photo-290657.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  position:relative;
  display:block;
  height:250px;
  z-index:1;
  width: 1110px;
  margin-left: -15px;
}
