.body-profile {
  margin-left: 25%;
  background-color: #212121;
}

.container-user {
  width: 800px;
  margin-left: 30%;
  background-color: #636363;
  color: #e5e5e5;
}

.left-button{
  margin-left: 90px;
}

.profile-header {
  text-align: center;
  margin-top: 25px;
  padding: 20px;
}


.header-show {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 16px;
}


.profile-content{
  margin-left: 20px;
  margin-bottom: 20px;
}

.row-image {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header-image{
  background-image: linear-gradient(-225deg, rgba(87, 94, 103, 0.8) 0%, rgba(36, 47, 56, 0.8) 50%),url("https://images.pexels.com/photos/290657/pexels-photo-290657.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  height:170px;
  width: 800px;
  background-size:cover;
  background-repeat: no-repeat;
  background-padding: 15px;
  overflow:hidden;
  text-align: center;
  padding-top: 20px;
}
