

.main {
  width: calc(100vw - 26%);
  margin-left: 22%;
  margin-top: 40px;
}

.dates-title{
  font-size:30px;
  font-weight:lighter;
  color:#c6c6c6;
  text-align:center;
}

.tab-container {
  padding-top: 0px;
  margin:auto;
  margin-top:40px;
  margin-left:20px;
  position: relative;
  width: 90%;
}

.tab-bar {
  display: flex;
  height: 48px;
  margin-bottom: 24px;
  a{
    text-decoration: none;
    color: #555;
  }
  &:hover{
    color: white;
  }
}

.tab {
  padding: 0 24px;
  height: 48px;
  /*   width: 100%; */
  text-align: center;
  line-height: 56px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.tab.is-active {
  color: $white-font;
  opacity: 1;
  transition: opacity .3s linear;
  border-bottom: 2px solid $purple;
  transition: all 0.3s ease-in-out;
}

.tab.is-active:after {
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3f51b5;
  transition: all 0.3s ease-in-out;
}

.tab-content {
  display: none;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
  transition: all 0.3s ease-in-out;
}

.tab-content.is-active {
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.inbox {
  padding: 0px 20px 0px 20px;
  list-style: none;
}

.message {
  font-weight:lighter;
  padding:30px 20px 30px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #333;
  .avatar{
    border-radius:50%;
    height:100px;
    width:100px;
  }
}

.message:first-child{
  padding:10px 20px 30px 20px;
}

.message-name{
  position:absolute;
  margin-left:200px;
  padding-bottom:-10px;
  min-width: auto;
  p{
    font-size: 13px;
    font-weight: lighter;
    line-height:7px;
    opacity: 0.6;
  };
  a{
    color:#999;
    line-height:40px;
    &:hover{
      color:$purple;
    }
  }
}

.message-stats{
  position:absolute;
  margin-left:400px;
  padding-bottom:-10px;
  min-width: auto;
  p{
    font-size: 13px;
    font-weight: lighter;
    line-height:7px;
    opacity: 0.6;
  };
}

.message-bar{
  position:absolute;
  margin-left:600px;
  padding-bottom:-10px;
  min-width: auto;
  p{
    font-size: 13px;
    font-weight: lighter;
    line-height:7px;
    opacity: 0.6;
  };
  a{
    color:#999;
    line-height:40px;
    &:hover{
      color:$purple;
    }
  }
}

.btn-accpet{
  padding-bottom:10px;
}


.container-inbox{
  margin-left: 20%;
}


